{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiuiz Questions</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <div class="topnav">
        <a class="active" href="./index.html">Home</a>
        <a href="#contact">Contact</a>
        <a href="./about.html">About</a>
    </div>

    <h3>Student roll number is  {{studentRollNumber}}</h3>
    <h3>Exam name is {{ examName}}</h3>

        <form action="/submit/" method="post">
        {% for question,options in questionsAndOptions.items %}
        {% csrf_token %}
        <input type="hidden" name="examName" value="{{examName}}">
    
        <input type="hidden" name="studentRollNumber" value="{{studentRollNumber}}">
    
        <p>{{question}}</p>
         
                    {% for option in options%}
                        
                        <input type="radio" name="{{question}}"  value="{{option.option}}" id="{{option.question_id}}">
                        <label for="{{question}}" >{{option.option}}</label>
                        <br>
                        <br>
                    {% endfor %}
                 

             
        {% endfor %}
        <input type="submit" value="submit your exam">
    </form>
       
    </div>
</body>
</html>