div{
    border: solid 2px;
}

html,body{
    font-size: 125%;
    height: 95%;
    margin-top: 0px;
    margin-left: 1px;
}

.main_page{
    height: 40%;
    width:100%;
}

.Submit{
    width:50%;
    height: 20%;
}

#main_page{
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: azure;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #B9F8D3;
    color: #E78EA9;
  }